@font-face{font-family:"Source Sans";src:url(../font/SourceSansPro-Regular.otf)}
@font-face{font-family:"Source Sans";src:url(../font/SourceSansPro-Light.otf);font-weight:200}
@font-face{font-family:"Source Sans";src:url(../font/SourceSansPro-Semibold.otf);font-weight:600}

body {
    text-align: center;
    width:100%;
    height:100%;
    overflow:visible;
    position:fixed;
    margin: 0;
    padding: 0;
    font:16px "Source Sans",helvetica,arial,sans-serif;
    font-weight:400;
}
select {
    min-width: 200px;
}
ul {
    margin:0;
    padding:0;
    list-style: none;
}
li {
    display: inline-block;
    float: left;
    list-style: none;
}
ul#recipe-list {
    height:100%;
}
li.recipe-listitem {
    position:relative;
    height: 33.333333%;
    width: 100%;
}
li input.imgButtons {
    position:absolute;
    width: 100%;
    bottom:0;
    left:0;
}
.rangeDiv {
    margin-top: 40px;
    margin-bottom: 40px;
}

#previewColor {
    background-color: #000000;
    width: 100%;
    height: 100px
}

#output {
    font-size: 4em;
}

#sortedGraphics{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
}

.sortedBackground{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
}

#refreshButton{
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:100px;
}

#verticalLine{
    position:absolute;
    height:100%;
    top:0px;
    left:100px;
}

.circle{
    position:absolute;
}

#status{
    position: absolute;
    left:200px;
    top:10px;
    font-size: 30px;
    color:green;
}

#getItButton{
    position:absolute;
    left:0px;
    width:100%;
}

/*#cornerButton{
    position:absolute;
    top:0px;
    right:200px;
}*/

#selectedFood{
    position:absolute;
    width:40%;
}

#dottedLine{
    position:absolute;
    left:0px;
    top:195px;
}
#bigImage{
    position:absolute;
    left:30%;
    top:0%;
}

.circleSpan{
    position:absolute;
    left: 80%;
    color: white;
    font-size: 20px;
}

/*
    SU's
 */
.container {
    position:relative;
    height:100%;
}

.backgroundImg {
    top: 0px; 
    left: 0px; 
    z-index: -100;
    width: 100%;
    height:100%;
}
.backgroundImg.list {
    height:33.333333%;
}
.imgButtons {
    position:absolute; 
    width: 100%;
    z-index: 3;
}